.scrollTop {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 20px;
  margin: 0;
  padding: 3px 0 0 0;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent);
  transition: opacity 0.2s;
  transform: translateX(-50%);
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (hover: hover) {
  .scrollTop:hover {
    opacity: 0.5;
  }
}
