:root {
  --linkColour: rgb(169, 231, 255);
}

html * {
  font-family: "Helvetica Neue", sans-serif;
  min-height: 0vw; /* safari needs this for calc, clamp, etc. to work ¯\_(ツ)_/¯ */
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 13px;
  max-width: 960px;
  color: white;
}

section {
  height: 80vh;
  /*border: 1px solid rgb(53, 22, 82); /* DEV PURPOSES ONLY */
}

h1 {
  font-size: clamp(25px, 6vw, 55px);
  font-weight: 300;
}

a {
  color: var(--linkColour);
  text-decoration: none;
  border-bottom: 2px solid #4d6cd4;
}
