:root {
    --link: 169, 231, 255;
    --linkUnderline: 77, 108, 212;
    --linkUnderlineHover: 90, 0, 150;
    --accent: 69, 255, 168;
  }
  
  html {
    background-color: black;
  }
  
  html * {
    font-family: "Helvetica Neue", sans-serif;
    min-height: 0vw; /* safari needs this for calc, clamp, etc. to work ¯\_(ツ)_/¯ */
    scroll-behavior: smooth;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  body {
    margin: auto;
    max-width: 960px;
    color: white;
    position: relative;
  }
  
  section {
    height: 700px;
  }
  
  section:first-of-type {
    height: 85vh;
  }
  
  h1 {
    font-size: clamp(35px, 6vw, 55px);
    font-weight: 300;
  }
  
  h2 {
    font-size: clamp(15px, 4.5vw, 25px);
    font-weight: 200;
  }
  
  a {
    color: rgb(var(--link));
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid rgb(var(--linkUnderline));
  }
  
  @media screen and (hover: hover) {
    a {
      transition: border-bottom-color 80ms linear;
    }
  
    a:hover {
      border-bottom-color: rgb(var(--linkUnderlineHover));
    }
  }