.success-container {
  position: absolute;
  width: clamp(340px, 30vw, 420px);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success-container p {
  font-size: clamp(18px, 4vw, 22px);
}
